<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Compare ORM and SQL Queries</h1>
        <p>Quickly spot the differences between common queries.</p>
    </div>
</div>

